set daemon 60
set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state

set eventqueue basedir /var/lib/monit/events slots 100

set httpd port 2812 allow monit:monit

set mailserver "{{monit_smtp_server}}"
{% for rcpt in monit_alert_emails %}
set alert {{ rcpt }}
{% endfor %}

include /etc/monit/conf.d/*
